<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletExamples</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Voting</display-name>
    <servlet-name>Voting</servlet-name>
    <servlet-class>web.Voting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Voting</servlet-name>
    <url-pattern>/Voting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingForward</display-name>
    <servlet-name>VotingForward</servlet-name>
    <servlet-class>web.VotingForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingForward</servlet-name>
    <url-pattern>/VotingForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameEntry</display-name>
    <servlet-name>NameEntry</servlet-name>
    <servlet-class>web.NameEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameEntry</servlet-name>
    <url-pattern>/NameEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveName</display-name>
    <servlet-name>RetrieveName</servlet-name>
    <servlet-class>web.RetrieveName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveName</servlet-name>
    <url-pattern>/RetrieveName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityEntry</display-name>
    <servlet-name>CityEntry</servlet-name>
    <servlet-class>web.CityEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityEntry</servlet-name>
    <url-pattern>/CityEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveCity</display-name>
    <servlet-name>RetrieveCity</servlet-name>
    <servlet-class>web.RetrieveCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCity</servlet-name>
    <url-pattern>/RetrieveCity</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>web.CityListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SimpleServlet</display-name>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>web.SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>web.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
</web-app>